@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-primary;
  }
  input::placeholder {
    @apply text-primary;
  }
  .h2 {
    @apply font-primary text-[45px] mb-4;
  }
  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2;
  }
  .btn {
    @apply text-[15px] tracking-[3px] font-tertiary uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }
  .btn-primary {
    @apply bg-accent hover:bg-accent-hover;
  }
  .btn-secondary {
    @apply bg-primary hover:bg-accent;
  }
  .btn-white {
    @apply bg-white text-[#0a0a0a];
  }
}

/* Restaurant Background Images */
.bg-restaurant {
  background-image: url('./assets/img/restuarant/bg-restaurant.jpg');
}
.bg-restaurant-1 {
  background-image: url('./assets/img/restuarant/bg-restaurant-1.jpg');
}
.bg-restaurant-2 {
  background-image: url('./assets/img/restuarant/bg-restaurant-2.jpg');
}
.bg-restaurant-3 {
  background-image: url('./assets/img/restuarant/bg-restaurant-3.jpg');
}
.bg-restaurant-4 {
  background-image: url('./assets/img/restuarant/bg-restaurant-4.jpg');
}

/* Spa Background Images */
.bg-spa {
  background-image: url('./assets/img/spa/bg-spa.jpg');
}
.bg-spa-1 {
  background-image: url('./assets/img/spa/bg-spa-1.jpg');
}
.bg-spa-2 {
  background-image: url('./assets/img/spa/bg-spa-2.jpg');
}
.bg-spa-3 {
  background-image: url('./assets/img/spa/bg-spa-3.jpg');
}
.bg-spa-4 {
  background-image: url('./assets/img/spa/bg-spa-4.jpg');
}

/* Contact Background Image */
.bg-contact {
  background-image: url('./assets/img/contact/contact.jpg');
}
